<div class="content-page">
    <h1>About Us</h1>
    <p>Welcome to Quran Audio Hub, your source for high-quality Quran recitations.</p>
    <p>Our mission is to make the words of Allah easily accessible to everyone around the world. We feature a curated collection of renowned reciters in various riwayat.</p>
    <p>This project is inspired by the wonderful service provided by QuranicAudio.com and aims to provide a similar experience for users who wish to host their audio locally.</p>
    <p>All audio files are sourced by the user and are expected to be stored locally for this website to function.</p>
    <p>The global audio player at the top allows you to continue listening as you navigate through different pages of the site, providing a seamless audio experience.</p>
</div>